screenshot/*
source/*
source/backend/*
source/frontend/*
source/psd/*
.DS_Store
._.*
._*
backend/application/config/database.php
frontend/application/config/database.php
frontend/sysconfig.inc.php
*.zip
